<template>
    <div>
       <v-toolbar
       dense
        flat
        >
       <img :src="'../images/Capture d’écran du 2021-09-24 20-49-59.png'" width="80px" alt="">

         <v-toolbar-title> 
            
              <span class="name " >HangOut</span>
          </v-toolbar-title>
      
         <v-spacer></v-spacer>

                 <v-text-field placeholder="search friend or group"  class="mt-12" prepend-inner-icon="mdi-loupe" 
                      type="text"  filled rounded  dense> </v-text-field>

         <v-spacer></v-spacer>
        
         <v-btn text x-large rounded class="mt-6">

             <v-avatar  class="py-3 mr-2">
                <img src="https://picjumbo.com/wp-content/uploads/alone-with-his-thoughts-1080x720.jpg"  alt="John"  >
             </v-avatar>
           
              <span class="username">lastname</span> 
          
          </v-btn>
          
        
             <v-menu offset-y>
               <template v-slot:activator="{ on, attrs }">
                        <v-btn icon class=" mt-6 ml-3 mr-5 " v-bind="attrs" v-on="on" color="info">
                             <v-icon>
                                 mdi-dns
                              </v-icon>
                         </v-btn>
                  </template>
                   <v-list width="200px">
                        <v-list-item to="/settings">
                             <v-list-item-title>settings</v-list-item-title>
                         </v-list-item>
                        
                         <v-list-item @click="console.log('iii')">
                             <v-list-item-title>sign out</v-list-item-title>
                         </v-list-item>
                   </v-list>
               
               </v-menu>

    </v-toolbar>

    </div>
</template>


<style>
 
 .username{
     text-transform: capitalize;
 }

</style>