<template>

    <div>
        
       <navbar></navbar>



      <v-card class="d-flex mt-5 fixed" height="100%" width="100%"> 

   
        <!-- sidebar -->

       <v-card height="100vh" width="256" >
            <v-navigation-drawer permanent>
             
               <v-list-item>
                    
                     <v-list-item-content>
                    
                         <v-list-item-title class="text-h6">
                             News
                          </v-list-item-title>

                     </v-list-item-content>

                </v-list-item>

              <v-list-item>
                    
                     <v-list-item-content>
                    
                         <v-list-item-title class="text-h6">
                             Groups
                          </v-list-item-title>

                     </v-list-item-content>

                </v-list-item>

            </v-navigation-drawer>
           
        </v-card >

             
        <!-- -->

         <div class="content2">
           

             <div class="i">
          
                  <v-card   elevation="6" class="login" outlined max-width="600">
                      <v-card-title>
                                        
                                        <v-avatar  class="py-3 mr-2">
                                              <img src="https://picjumbo.com/wp-content/uploads/alone-with-his-thoughts-1080x720.jpg"  alt="John"  >
                                         </v-avatar>
           

                                          <div class="pt-3">
                                            
                                             <span >
                                              firstname lastname
                                              </span> 
                                             
                                              <br>  
                                          
                                            <span class=" date">
                                                 created at  23/04/04 23:00
                                            </span>   
                                         
                                          </div>
                                            
                                
                                           


                                         
   
                      </v-card-title>

                   <v-card-text align="center">
                               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sunt temporibus, molestiae, voluptas delectus suscipit asperiores rem dolores earum et odio dolore iste autem odit saepe tenetur velit adipisci esse?
                                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus qui, aliquid velit eius, harum iste, nulla tenetur voluptates quam sapiente ex magnam aut.</p>
                 
                              <img  src="https://www.aps.dz/media/k2/items/cache/91badde4c4ddbb407e6ffc721fd85264_M.jpg" width="400px" alt="">
                 
                 
                 
                   </v-card-text>
                    
                    
                    <v-card-actions class="mx-5 mb-2">
                       <!--  filled dark -->
                         
                          <v-btn  width="50%" outlined   color="pink">
                               <v-icon>
                                   mdi-heart 
                               </v-icon>
                                 like (23)
                          </v-btn>
                         
                           <v-btn width="50%" outlined color="primary">

                                <v-icon>
                                    mdi-text 
                               </v-icon>
                             
                                 comment  (44)
                           
                           </v-btn>

                    
                    </v-card-actions>                  
           
                     
                  </v-card>
            </div>



         </div>
     
     
     
      </v-card> 





    </div>

</template>



<script>

import navbar from './navbar.vue'

export default {
  components:{
    navbar
  }
}
</script>


<style>
  
  .content2{
    margin-top: 0;
    overflow-y: scroll;
    width: 100%;
    height: 90vh;
     background-color: rgba(235, 221, 248, 0.911);

  }

  .date {
    font-size: 0.5em;
    color: grey;
    position: relative;
    top: -12px;
  }

  .fixed{
    position: fixed;
  }

</style>



