<template>
  <div>
    
    <v-app>
        <router-view></router-view>

    </v-app>
      
  </div>
</template>


<script>
export default {
  
}
</script>


<style>
  
  .name{
     font-family: 'Changa', sans-serif;
     font-size: 24px;
     color: purple;
     margin-top: 15px;
  }
  
 .r{
   background: linear-gradient(to right, #1d2b64, #f8cdda);
   margin-top: 27px;
 }
  
  .content small{
             color: rgb(156, 154, 156);

        font-size: 1.5em;

  }
  .content h2{
    font-size: 3em;
  background: -webkit-linear-gradient( right, #20002c, #c4a4d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    margin-bottom: 24px;
  }

  .content{
    margin-top: 9em;

    text-align: center;
  }
  
   .d{
    
    position: absolute;
     background-color: rgb(243, 230, 243);
     width:100%; 
    height:92vh;
   }


  .back{
    margin-right: 15px;
    background-image: url('../images/vvv.png');
    background-size: cover;
    width: 50%;
    position: relative;
    float: right;
    height:90%;
  }

   



</style>