<template>
    <div>
    
     <v-toolbar
       dense
        flat
        class="mb-4"
    >
      <div class="logo">
         
         
         <img :src="'../images/Capture d’écran du 2021-09-24 20-49-59.png'" width="80px" alt="">

         <v-toolbar-title > 
            
              
              <span class="name " >HangOut</span>



          </v-toolbar-title>
      
  
      </div>
     

    </v-toolbar>    

    <div class="i">
          
           <v-card   elevation="6" class="login" outlined max-width="600">
              
               <v-list-item class="pt-4">
               
                     <v-list-item-content>

                        <v-list-item-title align="center">
                         
                            <h2>{{title}}</h2>
                       
                        </v-list-item-title>
                     
                     </v-list-item-content>
               
               </v-list-item>
              
              <v-card-text>
                  
                  <slot></slot>
   
                  <!-- form -->
           
              </v-card-text>


         
             </v-card>
  
    </div>
    
    
    </div>
</template>

<script>


export default {
     props:[
         'title'
     ]
}
</script>



<style>
  .name{
      display: block;
      margin-top: 9px;
  }

  .i{
      padding-top: 3em;
      margin-top:5px;
      background-color: rgba(238, 233, 243, 0.911);
      width: 100%;
      height:100vh;
  }
  
  .login{
     margin-left: auto;
     margin-right: auto;
  }

  .logo {
     width: 100%;
     margin-top: 16px;
     display: flex;
     justify-content: center;
      
  }

</style>


