<template>
    <div>
    
      <auth-page title="foget password">
                    
                      <v-text-field label=" Email" prepend-inner-icon=" mdi-email" 
                      type="text"  filled rounded  dense> </v-text-field>
                 

                    <v-btn
                      class="mt-3 mb-5"
                       width="100%"
                      align="center"
                      dark
                      rounded
                      color="purple"
                      >
                       Confirm
                    </v-btn>
           
              





      </auth-page>

    
    </div>
</template>

<script>

import AuthPage from './AuthPqge.vue'

export default {
   components:{
       AuthPage
   }
}
</script>


