<template>
    <div>
            <v-toolbar
       dense
        flat
    >
       <img :src="'../images/Capture d’écran du 2021-09-24 20-49-59.png'" width="80px" alt="">

         <v-toolbar-title> 
            
              <span class="name " >HangOut</span>
          </v-toolbar-title>
      
         <v-spacer></v-spacer>

          <div>
             
             
              <v-btn class="mx-3"  plain   color="purple" to="/login">
                    <v-icon>mdi-account</v-icon> login
               </v-btn>

               <v-btn plain   color="primary"  to="/register">
                  <v-icon>mdi-plus</v-icon> register
               </v-btn>
         
          </div>

    </v-toolbar>

    <div class=" d-flex d">
    

         <div class="back"> 

         </div>

         <div class="content">
             <h2>Chat With Your Friends</h2>
              
              <small>Anytime Anywhere</small>
              
              <br>

              <v-btn dark class="r"  to="/register">
                Register
              </v-btn>

         </div>
    
    </div>  
    
    </div>
</template>