<template>
    <div>
    
      <auth-page title="login">
                    
                      <v-text-field label=" Email" prepend-inner-icon=" mdi-email" 
                      type="text"  filled rounded  dense> </v-text-field>
                      
                      <v-text-field label="Password"  prepend-inner-icon=" mdi-key"
                       type="password" hint="max length 8 characters"  filled rounded  dense> </v-text-field>
                     
            
                    <v-btn
                      class="mt-3 mb-5"
                       width="100%"
                      align="center"
                      dark
                      rounded
                      color="purple"
                      >
                       Confirm
                    </v-btn>
           
                 <div class="d-flex justify-space-between mb-7 mt-4">


                    <v-btn   text  color="pink"  to="/register">
                          you don't have account ?
                     </v-btn>

                    <v-btn   text  color="primary" to="/foreget">
                         forget password ?
                     </v-btn>
                  



                 </div>





      </auth-page>

    
    </div>
</template>

<script>

import AuthPage from './AuthPqge.vue'

export default {
   components:{
       AuthPage
   }
}
</script>


