<template>
    <div>
    
      <auth-page title="change password">
                    
             <v-text-field label="password" prepend-inner-icon=" mdi-key" 
                      type="password" hint="max length 8 characters"   filled rounded  dense> </v-text-field>
            
              <v-text-field label="confirmed password" prepend-inner-icon="mdi-key" 
                      type="password"  filled rounded  dense> </v-text-field>
                 

                    <v-btn
                      class="mt-3 mb-5"
                       width="100%"
                      align="center"
                      dark
                      rounded
                      color="purple"
                      >
                       Confirm
                    </v-btn>
           
              





      </auth-page>

    
    </div>
</template>

<script>

import AuthPage from './AuthPqge.vue'

export default {
   components:{
       AuthPage
   }
}
</script>


