<template>
    <div>
    
      <auth-page title="register">
                    
                      <v-text-field label=" Email" prepend-inner-icon=" mdi-email" 
                      type="text"  filled rounded  dense> </v-text-field>
                      
                     <v-text-field label="first name" prepend-inner-icon=" mdi-tag" 
                      type="text"  filled rounded  dense> </v-text-field>
                      
                     <v-text-field label="last name" prepend-inner-icon=" mdi-tag" 
                      type="text"  filled rounded  dense> </v-text-field>
            
                     <v-text-field label="birthday" prepend-inner-icon=" mdi-calendar" 
                      type="date"  filled rounded  dense> </v-text-field>
            

                      <v-text-field label="Password"  prepend-inner-icon=" mdi-key"
                       type="password" hint="max length 8 characters"  filled rounded  dense> </v-text-field>
                     
            
                    <v-btn
                      class="mt-3 mb-5"
                       width="100%"
                      align="center"
                      dark
                      rounded
                      color="purple"
                      >
                       Confirm
                    </v-btn>
           
                 <div class="d-flex justify-space-between ">


                    <v-btn   text  color="pink" to="/login">
                          you have account ?
                     </v-btn>

            



                 </div>





      </auth-page>

    
    </div>
</template>

<script>

import AuthPage from './AuthPqge.vue'

export default {
   components:{
       AuthPage
   }
}
</script>


